html {
  height: 100%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background: rgb(83,0,255);
  background: linear-gradient(313deg, rgba(83,0,255,0.7889749649859944) 20%, rgba(0,16,255,1) 100%);
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
}


form.cadastro {
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto auto;
  padding: 12px;
  border-radius: 8px;
  width: 800px;
  box-shadow: 2px 2px rgba(0,0,0, 0.2);
}

div.input-linha, div.input-unico {
  display: flex;
  color: white;
  margin-bottom: 12px;
}

div.input-linha label, div.input-unico label {
  margin-right: 10px;
  white-space: nowrap;
  text-shadow: 0px 1px rgba(0,0,0, 0.2);
}

div.input-linha div, div.input-unico div  {
  width: 100%;
  margin-right: auto;
  overflow: hidden;
}

div.input-unico div input {
  width: 100%;
}

div.input-linha div {
  display: flex;
}

div.input-linha div input{
  width: 100%;
}

div.input-linha div input.input-error {
  border: 1px solid red;
}

div.input-linha div input:nth-of-type(1){
 margin-right: 12px;
}

form button {
  border: none;
  background-color: blueviolet;
  color: white;
  padding: 12px;
  border-radius: 4px;
  float: right;
  transition: all 0.3s linear;
  box-shadow: 2px 2px rgba(0,0,0, 0.2);

}

form button:hover {
  cursor: pointer;
  background-color: chartreuse;
  color: #000;
}

